<%- include ('partials/header') %>

<div>
    <button href ="/" class="btn btn-danger">Back</button>
    <!-- <a href="/">Quay lại</a> -->
</div>
<h3 class="user-update">Update User</h3>
<div class="update-user">
    <%# Form tạo bài nhật ký mới%>
    <%# Nhớ thêm method="POST" vào form%>
    <form method="POST">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <%# Đế ý thuộc tính: name="title" (phải có)%>
            <input type="text" class="form-control" id="firstName" name="firstName" value="<%= dataUsers[i].firstName %>">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <%# Đế ý thuộc tính: name="content" (phải có)%>
            <textarea  class="form-control" id="lastName" name="lastName" value="<%= dataUsers[i].lastName %>"></textarea>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <%# Đế ý thuộc tính: name="content" (phải có)%>
            <textarea  class="form-control" id="email" name="email" value="<%= dataUsers[i].email %>"></textarea>
        </div>
        <div class="form-group">
            <label for="address"><Address></Address></label>
            <%# Đế ý thuộc tính: name="content" (phải có)%>
            <textarea  class="form-control" id="address" name="address" value="<%= dataUsers[i].address %>" rows="5" cols="33"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

<%- include ('partials/footer') %>